<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panshi.hujin2.message.dao.mapper.email.EmailBoletoRecordMapper">
    <insert id="save">
        INSERT INTO email_boleto_record
          (order_no, bolete_code, bolete_url)
          VALUES
          (#{orderNo}, #{boleteCode}, #{boleteUrl})
    </insert>
    <select id="getOrderNo" resultType="com.panshi.hujin2.message.dao.model.EmailBoletoRecordDO">
        select * from email_boleto_record where order_no = #{orderNo}
    </select>
</mapper>